body {
    font-family: Arial, Helvetica, sans-serif;
    /*
Medidas absolutas 
cm, mm, in, px, pt, pc

Medidas relativas
em, ex, rem, vw, vh, %
16px geralmente = 1em
*/
font-size: 1em;
text-align: justify;

/*lighter normal bold bolder*/
}

h1 {
    /*shorthand (font)
    font-style  -> font-weight -> font-size -> font-famaly
    */
    font: italic bold 3m 'Work Sans', sans-serif;
}

h2 {
    font: bold 2em 'Work Sans';
}